.burger-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fefefe;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 40px 20px;
    top: 0;
    right: 0;
}
.burger-menu-opened {
    display: flex;
}
.burger-menu .burger-close {
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    right: 10px;
}
.burger-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.burger-menu li {
    list-style-type: none;
}
.burger-menu a {
    color: #111;
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.burger-button {
    display: none;
}
