@media (max-width: 1100px) {
    .questions-list {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .meeting-header h2 {
        font-size: calc(34px + (62 + 62 * 0.7) * ((100vw - 360px) / 1920));
    }
    .member-header h3,
    .questions-header h3 {
        font-size: calc(18px + (36 + 36 * 0.7) * ((100vw - 360px) / 1920));
    }
    .member-header span,
    .questions-header span {
        font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 360px) / 1920));
    }
    .member-item-empty {
        padding: 54px 150px;
    }
    .questions-control {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .questions-control-left {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .send-question-button {
        width: 340px;
        margin-top: 20px;
    }
    .members-list {
        margin: 40px 0 0 0;
    }
    .questions-section {
        margin: 50px 0;
    }
}
