.meeting-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.meeting-header .wrapper {
    justify-content: center;
}
.meeting-header h2 {
    color: #111;
    font-size: calc(38px + 62 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.member-section {
    margin-top: 50px;
}
.member-section .wrapper {
    flex-direction: column;
    align-items: center;
}
.member-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.member-header h3,
.questions-header h3 {
    color: #111;
    font-size: calc(18px + 36 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}
.member-header span,
.questions-header span {
    color: #111;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.members-list {
    margin: 94px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.member-item {
    min-height: 201px;
    max-width: 356px;
    width: 100%;
    border: 1px solid #767676;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.member-item-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-name {
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.member-gender {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    text-align: left;
}
.member-item-empty {
    max-width: 356px;
    width: 100%;
    min-height: 201px;
    border: 1px solid #767676;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767676;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding: 54px 192px; */
    cursor: pointer;
}
.questions-section {
    margin: 150px 0;
}
.questions-section .wrapper {
    flex-direction: column;
    align-items: center;
}
.questions-section .questions-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.questions-list {
    margin-top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-item {
    border: 2px solid #767676;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
}
.question-item:hover {
    background: #313131;
    color: #fefefe;
}
.question-item img {
    cursor: pointer;
}
.question-checked {
    background: #313131;
    color: #fefefe;
}
.addQuestion-button {
    border: 2px solid #767676;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.addQuestion-button span {
    color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
}
.questions-control {
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.questions-control-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.questions-control-left span {
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.send-question-button {
    width: 50%;
    height: 50px;
    color: #fefefe;
    background-color: #111;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.add-question,
.add-member {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 17, 0.15);
    backdrop-filter: blur(3.5px);
}
.add-question-opened,
.add-member-opened {
    display: flex;
}
.add-question span,
.add-member span {
    color: #111;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefefe;
    padding: 20px;
    gap: 40px;
}
.form-header {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.add-question svg,
.add-member svg {
    transform: rotate(45deg);
    cursor: pointer;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 5px;
}
.input-container #question-input,
.add-member #member-input {
    height: 36px;
    width: 100%;
    color: #767676;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-bottom: 1px solid #767676;
    padding: 0 5px;
}
.input-container label {
    color: #767676;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add-question-button,
.add-member-button {
    background-color: #111;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.control-group {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 28px;
}
.add-member .form-span {
    color: #767676;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
}
