.question-section .wrapper {
    justify-content: space-between;
    gap: 84px;
}
.question-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    flex-wrap: wrap;
    height: max-content;
}
.question-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    height: max-content;
}
.question-tags span {
    color: #a11e2a;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: max-content;
}
.questions {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: max-content;
}
.question {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.active-question {
    display: flex;
}
.question-number {
    color: #767676;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.current-question {
    color: #111;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.question-text {
    color: #111;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.question-control {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: max-content;
}
.prev-arrow,
.next-arrow {
    stroke-width: 1px;
}
.active {
    stroke: #a11e2a;
    cursor: pointer;
}
.unnactive {
    stroke: #767676;
    cursor: pointer;
}
.previous {
    color: #767676;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.next {
    color: #a11e2a;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.mobile-question-image {
    display: none;
}
.prev-button,
.next-button {
    display: flex;
    align-items: center;
    gap: 10px;
}
