.result-main-title {
    color: #111;
    font-size: calc(38px + 16 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.result-second-title {
    color: #111;
    font-size: calc(18px + 6 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}
.result-section {
    margin-top: 80px;
}
.result-section .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 30px;
    justify-content: flex-end;
    gap: 40px;
}
.result-section img {
    width: 100%;
    height: 70%;
}
.result-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}
.result-table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
    max-width: 100%;
    display: block;
}
.result-table th {
    border: 1px solid #d9d9d9;
    background: #f5f5f5;
    height: 60px;
}
.result-table td {
    padding: 20px;
    border: 1px solid #d9d9d9;
    min-width: 146px;
    height: 60px;
}
.result-table .question {
    text-align: left;
    color: #111;
    font-size: calc(14px + 2 * (100vw / 1920));
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    min-width: 300px;
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff;
}
.result-table .answer {
    text-align: center;
    width: 20%;
}
.negativeAnswer {
    color: #111;
    font-size: calc(14px + 2 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}
.positiveAnswer {
    color: #e5231a;
    font-size: calc(14px + 2 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    background: #313131;
}
.header-firstRow th {
    background: #f5f5f5;
    color: #767676;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 20px;
    height: 20px;
}
.header-secondRow th {
    background: #f5f5f5;
    color: #111;
    font-size: calc(14px + 2 * (100vw / 1920));
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    padding: 20px;
}
.header-firstRow th:nth-child(1),
.header-secondRow th:nth-child(1) {
    text-align: left;
    position: sticky;
    left: 0;
    z-index: 1;
}
